<div class="container coasters-index">

  <h1 style="font-weight: 100">{{coasterFoundByID.name}}</h1>

  <h4>Descripción</h4>
  <p>{{coasterFoundByID.description}}</p>
  <p><strong>Longitud: </strong> {{coasterFoundByID.length}}m | <strong>Inversiones: </strong>
    {{coasterFoundByID.inversions}}</p>

  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>:{{foundParkById.name}}</p>
  <p><strong>Descripción</strong>:{{foundParkById.description}}</p>

  <a href="/coasters" class="btn btn-dark">Volver</a>
  <a href="/coasters/delete/{{coasterFoundByID._id}}" class="btn btn-dark">Delete</a>
  <a href="/coasters/edit/{{coasterFoundByID._id}}" class="btn btn-dark">Edit</a>
</div>